{% extends 'main.html' %}
{% load static %}

{% block addcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/legal.css' %}">
{% endblock %}

{% block content %}
     <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 text-black legal-bg legal-text font-weight-bold">
                    <h2 class="text-uppercase mt-2 title font-weight-bold">Mentions légales</h2>
                    <hr class="divider my-4">
                    <h6> Développé par : <a href="https://github.com/K4marade/project8" target="_blank">Léonard Colin</a></h6>
                    <hr class="divider my-4">
                    <h6> Développé avec : <a href="https://www.djangoproject.com/" target="_blank">Django</a></h6>
                    <hr class="divider my-4">
                    <h6>Templates :
                        <a href="https://startbootstrap.com/theme/creative/" target="_blank">Bootstrap</a> et
                        <a href="https://colorlib.com/wp/template/login-form-v13/" target="_blank">Colorlib</a>
                    </h6>
                    <hr class="divider my-4">
                    <h6>Logo : <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></h6>
                    <hr class="divider my-4">
                    <h6>Photos :
                        <a href="https://unsplash.com/@ninszi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                        target="_blank">Adél Grőber</a> |
                        <a href="https://unsplash.com/@ludemeula?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                        target="_blank">Ludemeula Fernandes</a>
                    </h6>
                    <hr class="divider my-4">
                </div>
            </div>
        </div>
    </header>

    <section class="body-section">
        <div class="container my-3 card card-body">
            <p>
                De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet www.chacob.fr.
                <br><br>
                Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site, vous pouvez être amenés à nous communiquer certaines données telles que : votre nom,  votre adresse électronique, le nom de votre animal de compagnie. Tel est le cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique « créer un compte » et « mes animaux ».
                <br><br>
                Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne pourrez pas utiliser certains services du site, notamment celui de planifier des rendez-vous ou d'ajouter un animal de compagnie.
            </p>
        </div>
    </section>
{% endblock %}

