{% extends 'main.html' %}
{% load static %}

{% block addcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/legal.css' %}">
{% endblock %}

{% block content %}
     <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 text-black legal-bg legal-text font-weight-bold">
                    <h2 class="text-uppercase mt-2 title font-weight-bold">Mentions légales</h2>
                    <hr class="divider my-4">
                    <h6> Développé par : <a href="https://github.com/K4marade/project8" target="_blank">Léonard Colin</a></h6>
                    <hr class="divider my-4">
                    <h6> Développé avec : <a href="https://www.djangoproject.com/" target="_blank">Django</a></h6>
                    <hr class="divider my-4">
                    <h6>Templates :
                        <a href="https://startbootstrap.com/theme/creative/" target="_blank">Bootstrap</a> et
                        <a href="https://colorlib.com/wp/template/login-form-v13/" target="_blank">Colorlib</a>
                    </h6>
                    <hr class="divider my-4">
                    <h6>Logo : <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></h6>
                    <hr class="divider my-4">
                    <h6>Photos :
                        <a href="https://unsplash.com/@ninszi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                        target="_blank">Adél Grőber</a> |
                        <a href="https://unsplash.com/@ludemeula?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                        target="_blank">Ludemeula Fernandes</a>
                    </h6>
                    <hr class="divider my-4">
                </div>
            </div>
        </div>
    </header>

    <section class="body-section">
        <div class="container my-3 card card-body">
            <ol>
                <li>Présentation du site</li>
            </ol>
            <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie
                numérique, il est précisé aux utilisateurs du site Chacob l'identité des différents intervenants dans le
                cadre de sa réalisation et de son suivi :</p>
            <p>Propriétaire : Léonard COLIN <br/>Créateur : Léonard COLIN<br/>Responsable publication :
                Léonard COLIN <br/>Le responsable publication est une personne physique ou une personne morale.<br/>Webmaster
                : Léonard COLIN <br/>Hébergeur : <a href="https://www.digitalocean.com/" target="_blank">Digital Ocean</a></p>
            <ol start="2">
                <li>Conditions générales d’utilisation du site et des services proposés</li>
            </ol>
            <p>Le site Chacob est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un
                meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des
                navigateurs modernes comme Internet Explorer, Safari, Firefox, Google Chrome, etc…</p>
            <p>L'utilisation du site Chacob implique l'acceptation pleine et entière des conditions générales
                d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou
                complétées à tout moment, les utilisateurs du site Chacob sont donc invités à les consulter de manière
                régulière.</p>
            <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de
                maintenance technique peut être toutefois décidée par Chacob, qui s’efforcera alors de communiquer
                préalablement aux utilisateurs les dates et heures de l’intervention.</p>
            <p>Le site Chacob est mis à jour régulièrement par Léonard COLIN ou une personne désignée à cet effet. De la
                même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à
                l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
            <ol start="3">
                <li>Description des services proposés</li>
            </ol>
            <p>Le site Chacob propose aux utilisateurs différents services en ligne, tels que la consultation de
                contenus, l'accès à des informations, l'inscription à des newsletters, etc.</p>
            <p>Chacob s'efforce de fournir aux utilisateurs des services de qualité, mais ne peut être tenu responsable
                en cas de défaillance, panne, difficulté ou interruption de fonctionnement, qu'elle soit liée à
                l'équipement, aux communications ou à la ligne de l'utilisateur, ou à tout autre cas indépendant de sa
                volonté.</p>
            <p>Le site Chacob est accessible gratuitement à tous les utilisateurs. Toutefois, Chacob se réserve le droit
                de proposer des services additionnels ou de modifier les services existants, à tout moment et sans
                préavis.</p>
            <ol start="4">
                <li>Limitations de responsabilité</li>
            </ol>
            <p>Le site Chacob utilise la technologie GPS pour localiser l'utilisateur sur une carte. Cependant, le site
                Chacob ne pourra être tenu responsable en cas d'erreur de géolocalisation ou de mauvaise utilisation de
                cette fonctionnalité par l'utilisateur.</p>
            <p>L'utilisateur du site Chacob s'assure de prendre connaissance des conditions d'utilisation de la
                technologie GPS avant de l'utiliser.</p>
            <p>Le site Chacob ne pourra être tenu responsable en cas de dommages indirects (tels par exemple qu'une
                perte de marché ou perte d'une chance) consécutifs à l'utilisation du site Chacob.</p>
            <ol start="5">
                <li>Gestion des données personnelles</li>
            </ol>
            <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la
                loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24
                octobre 1995.</p>
            <p>A l'occasion de l'utilisation du site Chacob, peuvent être recueillies : l'URL des liens par
                l'intermédiaire desquels l'utilisateur a accédé au site Chacob, le fournisseur d'accès de l'utilisateur,
                l'adresse de protocole Internet (IP) de l'utilisateur.</p>
            <p>En tout état de cause Chacob ne collecte des informations personnelles relatives à l'utilisateur
                que pour le besoin de certains services proposés par le site Chacob. L'utilisateur fournit ces
                informations en toute connaissance de cause, notamment lorsqu'il procède lui-même à leur saisie. Il
                est alors précisé à l'utilisateur du site Chacob l’obligation ou non de fournir ces informations.</p>
            <p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à
                l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de
                rectification, de suppression et d’opposition aux données personnelles le concernant. Pour l’exercer,
                adressez votre demande à Chacob par email : contact@chacob.fr.</p>
            <ol start="6">
                <li>Liens hypertextes et cookies</li>
            </ol>
            <p>Le site Chacob contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec
                l’autorisation de Chacob. Cependant, Chacob n’a pas la possibilité de vérifier le contenu des sites
                ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
            <p>La navigation sur le site Chacob est susceptible de provoquer l’installation de cookie(s) sur
                l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas
                l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un
                ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le
                site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
            <p>Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services.
                L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser
                l’installation des cookies :</p>
            <p>Sous Internet Explorer : onglet outil (pictogramme en forme de rouage en haut a droite) / options
                internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.</p>
            <p>Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis aller dans
                l'onglet Options. Cliquer sur l'onglet Vie privée. Paramétrez les Règles de conservation sur : utiliser
                les paramètres personnalisés pour l'historique. Enfin, décochez-la pour désactiver les cookies.</p>
            <p>Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un
                rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section
                "Confidentialité", cliquez sur Paramètres de contenu. Dans la section "Cookies", vous pouvez bloquer les
                cookies.</p>
            <p>Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois
                lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la
                section "Confidentialité", cliquez sur préférences. Dans l'onglet "Confidentialité", vous pouvez bloquer
                les cookies.</p>
            <ol start="7">
                <li>Droit applicable et attribution de juridiction</li>
            </ol>
            <p>Tout litige en relation avec l’utilisation du site Chacob est soumis au droit français. Il est fait
                attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
            <ol start="8">
                <li>Les principales lois concernées</li>
            </ol>
            <p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à
                l'informatique, aux fichiers et aux libertés.</p>
            <p>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
            <ol start="9">
                <li>Lexique</li>
            </ol>
            <p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>
            <p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit,
                directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4
                de la loi n° 78-17 du 6 janvier 1978).</p>
            <p>Cookies : Petit fichier déposé sur le disque dur de l'ordinateur de l'utilisateur par le serveur du site
                consulté ou par un serveur tiers (exemple : serveur de publicité). Il enregistre des informations
                relatives à la navigation de l'ordinateur sur le site (pages consultées, date et heure de consultation)
                que le serveur peut lire lors de visites ultérieures.</p>
            <p>IP : Adresse de protocole Internet, qui permet de fournir une adresse unique à chaque ordinateur connecté
                à Internet.</p>
            <p>URL : Adresse de consultation d'un document sur Internet.</p>
            <ol start="10">
                <li>Propriété intellectuelle</li>
            </ol>
            <p>Les contenus du site Chacob (textes, photos, images, vidéos, etc…) sont protégés par la législation en
                vigueur sur les droits d'auteur et le droit des marques.</p>
            <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments
                du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable
                de : Chacob.</p>
            <p>Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera
                considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles
                L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

        </div>
    </section>
{% endblock %}

