[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
django-widget-tweaks = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
tchappui-webdrivers = "*"
folium = "*"
geocoder = "*"
mixer = "*"
pytest-cov = "*"
django-crispy-forms = "*"
datetime = "*"
geopy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
