.body-section{
    padding: 5rem 0;
    background: white no-repeat scroll center;
    background-size: cover;
    min-height: 100%;
}

.cal-header{
    background: linear-gradient(to right, rgba(38, 31, 26, 0.1), rgba(66, 59, 53, 0.1) 100%, rgba(185, 179, 171, 0.1)), url("../img/red_cat_sm.png");
    background-size: cover;
    min-height: 15rem;
    max-height: 20rem;
}

.bg-blue{
    background: rgba(149, 191, 218, 0.5);

}

p, .p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400 !important;
    line-height: 1.2;
}

.wrapper{
    border: 2px solid #d6d6cf;
    border-radius: 8px;
    display: flex;
    overflow-x: scroll;
}

.wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.wrapper::-webkit-scrollbar:horizontal {
    height: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.wrapper .item{
    text-align: center;
}



.td-sm{
    word-wrap: break-word;
    min-width: 80px;
    max-width: 80px;
}

.td-md{
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
}


.td-lg{
    word-wrap: break-word;
    min-width: 200px;
    max-width: 200px;
}