header.cal-masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to right, rgba(38, 31, 26, 0.2), rgba(66, 59, 53, 0.2) 0%, rgba(185, 179, 171, 0.2) 40%), url("../img/cal-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.cal-masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.cal-masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.cal-masthead p {
    font-size: 1.15rem;
  }
  header.cal-masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.cal-masthead h1 {
    font-size: 3.5rem;
  }
}

#cal-section{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
}