{% extends 'main.html' %}
{% load static %}

{% block addcss %}
    <link href="{% static 'mycalendar/css/mycal.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'account/css/profile.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <header class="cal-header">
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center text-center">
                <div class="col-lg-10 align-self-center ">
                    <h2 class="text-white font-weight-bold">
                        Bonjour {{ user.get_username }} !
                        <hr class="divider my-4"/>
                    </h2>
                </div>
            </div>
        </div>
    </header>

    <section class="profile-body-section">
        <div class="container profile-text">
            <div class="row justify-content-center">
                <div class="col-md-8" >
                    <p>Nombre d'animaux : {{ pet.count }}</p>
                    <p>Votre email : {{ user.email }}<p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8" >
                    <a id="button-change-password" href="{% url 'password_change' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Modifier votre mot de passe
                    </a>
                </div>
            </div>
            </div>

    </section>
{% endblock %}
